@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


:root{    
    --principal:    #23e1bc ;
    --secundario: #075fb8;
    --black: #000000;

    
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    --primary-font: 'Rubik', sans-serif;;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*before,*after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: var(--primary-font);
}

h1,h2,h2{
    text-align: center;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1rem;
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    margin: 0rem auto;
    max-width: 120rem;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-background{
    background-color: var(--secundario);
}

.navegacion-principal a{
    padding: 1rem;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}

.navegacion-principal a:hover{
    color: black;
    background-color: var(--principal);
}

.img-principal{
    background-image: url(/img/345207.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 410px;
}   

.img-principal-contenedor{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.img-principal-contenedor h2,
.img-principal-contenedor p{
    color: white;
}

